.pop_container {
    /* 弹出层 */
    position: fixed;
    top: -10%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 2s;  /* 消失动画时间 */
    border-radius: 40px;
    text-align: center;
    padding: 13px 0 13px 0;

    /* 具有高风险的代码：后续版本请对弹窗隐藏方式和行进方式进行代码更新，对多端显示进行适配 */
}
.pop_container .popText {
    /* 弹出层文字 */

}

#popup.active { 
    /* 弹出层动态代码 */
    top: 7%;
    visibility: visible;
    opacity: 1;
    transition: 1s;  /* 进入动画时间 */
}

